.wrapper-loader {
  margin: 100px auto;
  text-align: center;
  perspective: 800px;
}

.cover {
  display: inline-block;
  width: 200px;
  height: 144px;
  border: 8px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
}


@keyframes browzePage {
  0%   {
    transform: rotateY( 0deg );
    background-color: #fff;
  }
  50% {
    background-color: white;
  }
  100% {
    transform: rotateY( -180deg );
    background-color: #fff;
  }
}

.page {
  display: inline-block;
  width: 100px;
  height: 144px;
  border-width: 8px 8px 8px 0;
  border-radius: 4px;
  border-style: solid;
  border-color: black;
  background-color: #fff;
  box-sizing: border-box;
  left: -104px;
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: left top;
  animation: browzePage 1s infinite;
}

.inner-border {
  display: inline-block;
  width: 1px;
  height: 144px;
  position: relative;
  background-color: rgba(0,0,0,0.06);
  left: -208px;
  z-index: 3;
}

.wrapper-loader p {
  font-family: Roboto;
  text-align: center;
  position: relative;
  color: black;
  left: -48px;
  margin-top: 24px;
}