.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(350px , 1fr));
  grid-gap: 15px;
  justify-items: center;
}

.card{
max-width: 300px;
  &_img{
    width: 300px;
    height: 450px;

  }
  &__info-img{
    position: relative;
    z-index: 1;
  }
  &__star{
    position: absolute;
    top: 430px;
    left: 281px;
  }
  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  &__title{
    font-size: 18px;
    font-weight: 700;
  }

  &__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  &__price{
    font-weight: 700;
  }
}
