.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;

  &__title{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3.3px;

  }

  &__icons{
    display: flex;
    column-gap: 20px;

  }
}