.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: black;
  padding: 40px;


  &__list{
    list-style: none;
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

    &-item{
      display: inline-block;
      padding: 0 15px;

      & a{
        color: white;
        text-decoration: none;
        opacity: 0.6;
        &:hover{
          opacity: 1;
        }
      }
    }
  }

  &__social{
    text-align: center;
    color: lightgray;
    margin-top: 30px;

    &-item{
      font-size: 24px;
      color: inherit;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      margin: 0 20px;
      opacity: 0.6;

      &:hover{
        opacity: 1;
        color: white;
      }
    }
  }

  &__copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: white;
  }
}







